.contenedor{
  border: 5px solid;
  padding-left: 0px;
  padding-right: 0px;
}

.area{
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  width: 100%;
}

.slide{
  margin-top: 5px;
}

.slide img{
  height: 30vh;
}

.card-header {
   background-color: black
}

.rrss {
  font-size: 30px;
}

.col-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-container{
  border: 1px solid;
  border-radius: 10px;
  border-color: white;
}

#networks-table {
    color: aliceblue;
}