.area{
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  width: 100%;
}

.slide{
  margin-top: 5px;
}

.slide img{
  height: 30vh;
}

.card-header {
   background-color: black
}

.rrss {
  font-size: 30px;
}

.col-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}